@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@100&family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
    font-size: 100%;
    background: #171718;
  }
  
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  
  .logo-principal {
    position: static;
    width: 102px;
    height: 32px;
  }
  .cabecalho-menu {
    display: flex;
    gap: 60px;
  }
  
  .cabecalho-menu-item {
    font-family: 'DM Sans', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
  }

  .butao{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background: #F9B53A;
    width: 169px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
  }
  .butao:hover{
    background-color: rgba(236, 214, 196, 0.53);
  }
  .banner{
    position:relative;
    width: 100%;
  }
  .titulo{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    letter-spacing: -0.5px;
    padding-top: 180px;
  }
  .titulo-alkimim{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    letter-spacing: -0.5px;
  }
  strong{
    color: #F9B53A;
  }
  .subtitulo{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    letter-spacing: -0.5px;
    padding: 15px;
  }
  .botões{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap:30px;
}
.butões:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.butão-amarelo{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background: #F9B53A;
    width: 169px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}
.butão-amarelo:hover{
    background-color: rgba(236, 214, 196, 0.53);
}
.butão-transparente{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.butão-transparente:hover{
    background-color: rgba(236, 214, 196, 0.53);
}
.texto-sobre-mim{
font-family: 'DM Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.15px;
color: white;
padding: 30px;
}
.box{
position:relative;
background: #1F1F21;
border: 1.5px solid #3D3D3D;
box-sizing: border-box;
border-radius: 8px;
width: 967.33px;
height: 453.16px;
left: 101px;
top: 60px;
}
.minhaFoto{
    display: flex;
    position: relative;
    left: 10px;
    top: 22px;
}
.titulo-box{
    display: flex;
    position: relative;
    bottom: 390px;
    left: 400px;
    font-family: 'DM Sans', sans-serif;
    color: #F9B53A;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
}
.primeiro-paragrafo{
    display: flex;
    position: relative;
    text-align: start;
    left: 400px;
    bottom: 350px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.segundo-paragrafo{
    display: flex;
    position: relative;
    text-align: start;
    left: 400px;
    bottom: 320px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.butão-sobremim{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    position: relative;
    left: 400px;
    bottom: 268px;
    border: 0.997936px solid #FFFFFF;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    cursor: pointer;
}
.butão-sobremim:hover{
    background-color: rgba(236, 214, 196, 0.53);
}